@model SokoSolve.Core.Solver.SolverStateMultiThreaded

<ul>
@foreach (var worker in Model.Workers)
{
    <li>@worker.Name @worker.WorkerState.Summary @worker.WorkerState.Exit @worker.WorkerState.Exception  @worker.WorkerState.GlobalStats</li>   
}    
</ul>

