@model SokoSolve.Client.Web.Controllers.LibController.HomeModel


<div class="row">
@foreach (var p in Model.Library.OrderBy(x=>x.Rating))
{
    <div class="col-4 p-1">
        <div class="card">
            <div class="card-header">
                <a asp-action="Home" asp-controller="Puzzle"  asp-route-lib="@Model.Library.Details?.Name" asp-route-id="@p.Ident">@p.Name</a>
            </div>
            <div class="card-body align-content-center m-0 p-0" style="overflow: scroll">
                
                <partial name="PuzzleMap" model="@p.Puzzle"/>
            </div>
            
            <div class="card-footer text-sm-left small">
                [@p.Ident] R-@p.Rating @(p.Puzzle.Width)x@(p.Puzzle.Height)
                @if (Model.Solutions.TryGetValue(p.Ident.ToString(), out var sols))
                {
                    var best = sols.Where(x => x.HasSolution).OrderBy(x => x.Path.Length).FirstOrDefault();
                    if (best != null)
                    {
                        <span title="@best" style="background: green; color: white;">SOLUTION</span>    
                    }
                    
                }

            </div>
        </div>    
    </div>
    
}    
</div>
