@model SokoSolve.Core.Lib.Library


<div class="row">
@foreach (var p in Model.OrderBy(x=>x.Rating))
{
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                <a asp-action="Home" asp-controller="Puzzle"  asp-route-lib="@Model.Details?.Name" asp-route-id="@p.Ident">@p.Name</a>
            </div>
            <div class="card-body align-content-center">
            <partial name="PuzzleMap" model="@p.Puzzle"/>    
            </div>
            
            <div class="card-footer text-sm-left small">[@p.Ident] R-@p.Rating @(p.Puzzle.Width)x@(p.Puzzle.Height)</div>
        </div>    
    </div>
    
}    
</div>
