@using VectorInt
@using SokoSolve.Core.Common
@model SokoSolve.Core.Lib.LibraryPuzzle


<h1>@Model.Name</h1>
@{
    VectorInt2 size = new VectorInt2(32, 32);
}
<style>
    .game-surface {
        position: relative;
        width: 1000px;
        height: 800px;
        border: 2px solid blue;
        background: #333;
    }
    .cell {
        display: block; 
        position:absolute; 
        width:  @(size.X)px;
        height:  @(size.Y)px;
        background: #0b2e13;
        color:  white;
        font-size: @(size.X -4)px;
    }
    
</style>


<div class="game game-surface">
    @foreach (var x in Model.Puzzle.ForEach().WithIndex())
    {
        foreach (var y in x.item.Value.Decompose().WithIndex())
        {
            <div src="/Puzzle/ImageFor/" id="@x.index-@y.index" class="cell cell-@y.item" style="top: @(x.item.Position.X * size.X)px; left:  @(x.item.Position.Y * size.Y)px;">
                @x.item.Value.Underlying
            </div>    
        }
        
    }
</div>

