@using SokoSolve.Core.Primitives
@model SokoSolve.Client.Web.Controllers.PuzzleController.HomeModel

<h2>Static Analysis</h2>
<div class="row">
    <div class="col-3">
        <h4>Wall</h4>
        <partial name="Bitmap" model="@Model.StaticAnalysis.WallMap"/>
    </div>
    <div class="col-3">
        <h4>Floor</h4>
        <partial name="Bitmap" model="@Model.StaticAnalysis.FloorMap"/>
    </div>
    <div class="col-3">
        <h4>Goal</h4>
        <partial name="Bitmap" model="@Model.StaticAnalysis.GoalMap"/>
    </div>
    <div class="col-3">
        <h4>StartCrate</h4>
        <partial name="Bitmap" model="@Model.StaticAnalysis.CrateStart"/>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <h4>Corner</h4>
        <partial name="Bitmap" model="@Model.StaticAnalysis.CornerMap"/>
    </div>
    <div class="col-3">
        <h4>Dead</h4>
        <partial name="Bitmap" model="@Model.StaticAnalysis.DeadMap"/>
    </div>
    <div class="col-3">
        <h4>SideMap</h4>
        <partial name="Bitmap" model="@Model.StaticAnalysis.SideMap"/>
    </div>
    @foreach (var rec in Model.StaticAnalysis.RecessMap)
    {
        <div class="col-3">
            <h4>Recess</h4>
            <partial name="Bitmap" model="@rec"/>
        </div>    
    }
    
</div>



